body{
    background-color: #e5e6c9;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {

    background-color:#8BA6AC;
    color: #d7d7b8;
    padding: 0;
    overflow: hidden;
   
    .logo {
        float: left;
        margin-left: 30px;
        width: 150px; 
        height: auto; 
    }
    .title {
        float: left;
        margin-left: -55px;
    }

    h1{
        margin: 60px;
        font-family:'Lucida Sans';
        font-size: 40px;
        text-align: left;
    }

}
nav{
    background-color: #BDCDD0;
    padding: 7.5px;
    }
    nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    }
    nav ul li {
    display: inline-block;
    margin-right: 20px;
    }
    nav ul li a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    }
    nav ul li a:hover {
    background-color: #8BA6AC;
    }

section {
    padding: 20px; 
    
}

    
footer {
    background-color: #8ba6ac;
    color: #d7d7b8;
    padding: 20px 0; }
    .footer-content {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center; }
    footer .redes-sociales {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    footer .redes-sociales li {
        display: inline-block;
        margin-right: 20px;
    }
    
    footer .redes-sociales li:last-child {
        margin-right: 0;
    }
    
    footer .redes-sociales li a img {
        width: 60px;
    }
    

.centrado-negrita-cursiva{
    text-align: center;
    font-weight: bold;
    font-style: italic;
} 
.parrafos{
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    padding: 25px;
    .p2{
        text-indent: 20px;
    }
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
}

.img1{
    width: 450px; 
    height: auto;
    object-fit: cover;
    border: 3px solid #333333;
}
